[/]
background-color='rgb(23,20,33)'
background-transparency-percent=30
bold-is-bright=true
cursor-blink-mode='on'
cursor-shape='ibeam'
custom-command=''
default-size-columns=60
default-size-rows=18
font='ComicCode Nerd Font 20'
foreground-color='rgb(208,207,204)'
login-shell=false
palette=['rgb(0,0,0)', 'rgb(170,0,0)', 'rgb(0,170,0)', 'rgb(170,85,0)', 'rgb(0,0,170)', 'rgb(170,0,170)', 'rgb(0,170,170)', 'rgb(170,170,170)', 'rgb(85,85,85)', 'rgb(255,85,85)', 'rgb(85,255,85)', 'rgb(255,255,85)', 'rgb(85,85,255)', 'rgb(255,85,255)', 'rgb(85,255,255)', 'rgb(255,255,255)']
scroll-on-output=true
scrollbar-policy='never'
use-custom-command=false
use-system-font=false
use-theme-colors=false
use-theme-transparency=false
visible-name='PalOS'
audible-bell=false
use-transparent-background=true
